<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<!--
html,body {
	width: auto !important;
	overflow-x: hidden !important;
    margin:-10;
}
html {
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#fff;
	margin: 0px;
	padding: 0px;
	text-align:left;
}

/*Site parts*/
div.top {
	margin:0;
	padding:0;
	border:1px solid #909090;
	background-color:#909090;
	color:#000;
	font-variant: small-caps;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:left;
	font-size: 7ex;
}
div.top a:link{
	text-decoration:none;
	color:#000;
}
div.top a:visited {
	color:#000;
}
.pageTitle {
	font-variant: small-caps;
	font-size: 7.99vw;
	color: #fff; 
	text-decoration: none;
}
.menu {
	margin:0;
	padding:0;
	border:1px solid #000;
	text-align:left;
	background-color:#000;
}
.copyright {
	font-weight:bold;
	text-align:center;
}
img {/*Images fit viewport*/
max-width: 100vw;
max-height: 100vh;
height: auto;
object-fit: contain
}

.textBubbleBG {
	padding: 10px;
	background: #eee;
	border: 1px solid #000;
	border-radius: 15px;
	overflow:  auto;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color:#000;
	text-decoration: none;
}
a:hover {
	color:#000;
	text-decoration: none;
}
a:active {
	color:#000;
	text-decoration: none;
}

/*Grid page*/
.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.grid-item {
	background: #eee;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	border-radius: 15px;
}
.grid-item:hover {
  background: #bbb;
}
/*Type colors*/
.Infra{
	background: #EEF; 
}
.Infra:hover{
	background: #BEF; 
}
.IaaS{
	background: #DDF; 
}
.IaaS:hover{
	background: #88F; 
}
.PaaS{
	background: #FEE;
}
.PaaS:hover{
	background: #FCC; 
}
.SaaS{
	background: #DFF; 
}
.SaaS:hover{
	background: #0FF; 
}


/*Search*/
.searchBox {
	width: 20vw;
}
.searchResult {
	position: absolute;
	/*margin: top  right bottom left*/
	margin: 26px 25px 0 -21vw;
	width: 20vw;
	border: 1px dotted #ccc;
	padding: 3px;
	
	background: #bbb;
	color: #000;
}
.searchResult ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.searchResult ul li {
  padding: 5px 0;
}
.searchResult ul li:hover {
  background: #eee;
}

/*Tables*/
table, table td {
border-collapse: collapse;
border: 1px solid #000;
padding: 3px;
}
table td, table th {
padding: 4px;
border: 1px solid #000;
/*border-radius: 15px;*/
}
table th {
padding: 6px 3px 3px 6px;
border: 1px solid #000;
background: #6af;
text-align:center;
}
/* https://css-tricks.com/custom-scrollbars-in-webkit */ ::-webkit-scrollbar {
	width: 12px;
}
/* Track */ ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
/* Handle */ ::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(200,200,200,0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*Responsive iFrame https://www.benmarshall.me/responsive-iframes/*/
.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/*<span class="popup">This is a test. <span>Did you pass?</span></span>*/
.popup {
	background: #3df;
	border-radius: 15px;
}
.popup span {
	position: absolute;
	/*margin: top  right bottom left*/
	margin-left: auto;
	margin-right: auto;
	margin: 15px 5px 0 -30px;
	text-align: center;
	
	padding: 3px 3px 3px 3px;
	border-style:solid;
	border-color:black;
	border-width:1px;
	border-radius: 15px;
	background: #fff;
	color: #000;
	
	display: none;
}
.popup:hover span {
	display: inherit;
} 

-->
